.container {
    max-width: 500px;
    height: 75vh;
    width: 100vw;

    & > .map-container {
        height: 100%;
    }
}

.attribution {
    display: block;
    color: grey;
    position: absolute;
    right: 4px;
    bottom: 4px;
}

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
    }
}